<nav>
    <ul id="nav">
        <li>
            <a href="/teacher/">Home</a>
        </li>
        <li>
            <a href="/teacher/find">Find</a>
        </li>
        <li>
            <a href="/teacher/notifications">Notifications</a>
        </li>
        <li>
            <a href="/teacher/friends">Friends</a>
        </li>
        <li>
            <a href="/teacher/logout">Logout</a>
        </li>
    </ul>
</nav>