<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
        <h1>
            About
        </h1>
        <p>Just an app to test a theory about discriminators in mongoose.
        </p>
<%- include('./partials/footer') %>