<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
    <h1>Login</h1>
       <a href="/student/login">Student</a>
       <a href="/teacher/login">Teacher</a>
<%- include('./partials/footer') %>