<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
        <h1>Register</h1>
        <p>Choose a user type to sign up as.</p>
        <a href="/student/signup">Student</a>
        <a href="/teacher/signup">Teacher</a>
<%- include('./partials/footer') %>