<%- include('../partials/header') %>
<%- include('../partials/tnav') %>

<h1>Enrolment Contract</h1>

<form action="/teacher/contract/<%= student.id %>" method="POST">
    <label for="Course">Course:</label>
    <input type="text" name="contract[course]" id="Course">
    <label for="courseDuration">Course Duration</label>
    <select name="contract[courseDuration]" id="courseDuration">
        <option value="1 Month" name="1month">1 Month</option>
        <option value="2 Months" name="2months">2 Months</option>
        <option value="3 Months" name="3months">3 Months</option>
        <option value="6 Months" name="6months">6 Months</option>
        <option value="9 Months" name="9months">8 Months</option>
        <option value="1 Year" name="1year">1 Year</option>
    </select>
    <input type="submit">
</form>

<%- include('../partials/footer') %>